@page
@model RepartitionTournoi.Presentation.Web.Pages.Jeux.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Jeux[0].Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jeux[0].NbJoueursMin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jeux[0].NbJoueursMax)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Jeux) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbJoueursMin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbJoueursMax)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
